.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../assets/leaf-back.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.login > div {
  padding: 40px;
  background-color: white;
  display: flex;
  gap: 20px;
  border-radius: 20px;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  box-sizing: border-box;
}

.login > div:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.login > div > h1 {
  font-size: 40px;
  margin: 10px 0px 10px 0px;
}

.login > div > input {
  padding: 10px 15px;
  width: 300px;
  border: 1px solid rgb(206, 232, 255);
  border-radius: 5px;
  font-family: "poppins", sans-serif;
  background-color: rgb(240, 248, 255);
  outline: none;
}

.login > div > button {
  padding: 10px;
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  background-color: blueviolet;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
